<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
   </head>
<body >
    <center>
        <div class="w-full">
            <h1>COMPAÑIA DE LUZ</h1>
            <h2>Vazuez Garcia Carol</h2>
            <img src="/PUBLIC/img/IMAGEN COMPAÑIA DE LUZ.png" alt="">
        </div>
    </center>
</body>
</html>